<strong>John William Coltrane</strong> was an American jazz saxophonist
and composer. Working in the bebop and hard bop idioms early in his career,
Coltrane helped pioneer the use of modes and was at the forefront of free jazz.
He led at least fifty recording sessions and appeared on many albums by other
musicians, including trumpeter Miles Davis and pianist Thelonious Monk.
Over the course of his career, Coltrane's music took on an increasingly
spiritual dimension. He remains one of the most influential saxophonists in
music history. He received many posthumous awards, including canonization by
the African Orthodox Church and a Pulitzer Prize in 2007.
