<strong>The Kronos Quartet</strong> is an American string quartet based in San Francisco. They
have been in existence with a rotating membership of musicians for over forty
years. The quartet covers a very broad range of musical genres, including
contemporary classical music. More than 900 works have been written for them.

Kronos covers a very broad range of musical genres: Mexican folk, experimental,
pre-classical early music, movie soundtracks (Requiem for a Dream, Heat,
The Fountain), jazz and tango. Kronos has also recorded adaptations of
Jimi Hendrix's "Purple Haze", Sigur Rós's "Flugufrelsarinn", Television's
"Marquee Moon", Raymond Scott's "Dinner Music for a Pack of Hungry Cannibals",
and Bob Dylan's "Don't Think Twice, It's All Right".
