<strong>Igor Fyodorovich Stravinsky</strong> was a Russian composer, pianist, and conductor.
He is widely considered one of the most important and influential composers of the 20th century.

Stravinsky's compositional career was notable for its stylistic diversity.
He first achieved international fame with three ballets commissioned by
the impresario Serge Diaghilev and first performed in Paris by Diaghilev's
Ballets Russes: The Firebird (1910), Petrushka (1911), and The Rite of Spring (1913).

The latter transformed the way in which subsequent composers thought about
rhythmic structure and was largely responsible for Stravinsky's enduring
reputation as a musical revolutionary who pushed the boundaries of musical design.
