<strong>Muddy Waters</strong> was an American
blues singer-songwriter and musician who is often cited as the "father of
modern Chicago blues", and an important figure on the post-war blues scene.
His style of playing has been described as "raining down Delta beatitude".

Muddy Waters grew up on Stovall Plantation near Clarksdale, Mississippi,
and by age 17 was playing the guitar and the harmonica, emulating the
local blues artists Son House and Robert Johnson. He was recorded in
Mississippi by Alan Lomax for the Library of Congress in 1941. In 1943,
he moved to Chicago to become a full-time professional musician. In 1946,
he recorded his first records for Columbia Records and then for Aristocrat
Records, a newly formed label run by the brothers Leonard and Phil Chess.
