<strong>Bob Dylan</strong> is an American singer-songwriter,
author, and visual artist who has been a major figure in popular culture
for more than fifty years. Much of his most celebrated work dates from the 1960s,
when songs such as "Blowin' in the Wind" (1963) and "The Times They Are
a-Changin'" (1964) became anthems for the civil rights movement and anti-war
movement. His lyrics during this period incorporated a wide range of political,
social, philosophical, and literary influences, defied pop-music conventions
and appealed to the burgeoning counterculture.

<strong>Bob Dylan was awarded the Nobel Prize in Literature in 2016.</strong>
