<strong>Elvis</strong> was an American singer and actor. Regarded as one of the most
significant cultural icons of the 20th century, he is often referred to as the
"King of Rock and Roll" or simply "The King".
In January 1973, Presley performed two benefit concerts for the Kui Lee Cancer
Fund in connection with a groundbreaking TV special, Aloha from Hawaii,
which would be the first concert by a solo artist to be aired globally.
The first show served as a practice run and backup should technical problems
affect the live broadcast two days later. On January 14, Aloha from Hawaii
aired live via satellite to prime-time audiences in Japan, South Korea,
Thailand, the Philippines, Australia, and New Zealand, as well as to U.S.
servicemen based across Southeast Asia.
